<div ng-controller="sts.views.task.detail as vm">
    <form id="ViewTaskForm" role="form" name="viewTaskForm" novalidate>
        <div class="form-group">
            <label for="TaskDescription">@L("TaskDescription")：</label>
            <div id="TaskDescription">{{vm.task.description}}</div>
        </div>
        <div class="form-group">
            <label for="TaskAssignedPerson">@L("AssignTo")：</label>
            <div id="TaskAssignedPerson">{{vm.task.assignedPersonName}}</div>
        </div>
        <button ng-click="vm.returnList()" type="button" class="btn btn-primary">@L("ReturnList")</button>
    </form>
</div>